.wrap-nav{
    max-height: 100%;
    height: 100vh;
    position: fixed;
    max-width: 120rem;
    width: auto;
    z-index: 1;
}

.wrap-site{
    max-height: 100vh;
    max-width: 120rem;
    width: cover;
    height: 100vh;
    overflow: hidden;
}

.home-section{
    max-height: 100vh;
    max-width: 120rem;
    width: cover;
    height: 100vh;
    padding: 0.384vw 0 0.384vw 15vw;
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
    color: var(--font-color);
    margin-top: 4.166666666666667vw;
}
.floating-contact{
    text-align: right;
    width: 100%;
    position: fixed;
}
.icon{
    text-decoration: none;
}
.contact-icon-light{
    font-size: 2.5vw;
    margin: 1.5vw 1.5vw 0 1.5vw;
    text-decoration: none;
    color: #1B1717;
}
.contact-icon-dark{
    font-size: 2.5vw;
    margin: 1.5vw 1.5vw 0 1.5vw;
    text-decoration: none;
    color: #ED8D8D;
}
.contact-icon-light:hover{
    color: #630000;
}
.contact-icon-dark:hover{
    color: #8D6262;
}
.wrap-icon{
    list-style-type: none;
}

.wrap-home-content{
    padding: 0px 10.41666666666667vw 0px 10.41666666666667vw;
}

.home-content{
    font-size: 1.5vw;
}
.home-sub{
    font-size: 2vw;
}
.home-title{
    text-align: center;
    font-size: 3vw;
}
.wave {
    font-size: 8.333333333333333vw;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  
  

.bg-light{
    background-image: url("../../Image/BG-Light.png");
    background-size: cover;
}

.bg-dark{
    background-image: url("../../Image/BG-Dark.png");
    background-size: cover;
    
}

.bg-large-light{
    background-image: url("../../Image/BG-Large-Light.png");
    background-size: cover;
}

.bg-large-dark{
    background-image: url("../../Image/BG-Large-Dark.png");
    background-size: cover;
    
}

.theme-light {
  --color-first: #EEEBDD;
  --color-second: #810000;
  --color-third: #630000;
  --color-fourth: #1B1717;
  --font-color: #1B1717;
  --same-color: #EEEBDD;
}

.theme-dark {
  --color-first: #393232;
  --color-second: #4D4545;
  --color-third: #8D6262;
  --color-fourth: #ED8D8D;
  --font-color: #EEEBDD;
  --same-color: #EEEBDD;
}

.nav-area{
    position: absolute;
    width: 9.375vw;
    height: 100vh;
    background-color: var(--color-fourth);
}

ul{
    position: absolute;
}

.nav-content{
    color: var(--same-color);
    width: fit-content;
    font-size: 2.05vw;
    font-weight: bold;
    padding: 1.475vw 1.475vw 1.475vw 7.4vw;
    background-color: var(--color-second);
    border-radius: 100px;
    margin: 2.95vw 0 2.95vw 5.403vw;
    list-style: none;
    user-select: none;
    opacity: 0;
}

.hover-me:hover .nav-content{
    transition: 1s all ease;
    opacity: 1;
}


.dot-handler{
    position: absolute;
    width: 5.65vw;
    height: 5.65vw;
    background-color: var(--color-third);
    list-style-type: none;
    padding: 1.55vw 1.55vw 1.55vw 0;
    margin: 0 0 0 5.403vw;
    border-radius: 100px;
    z-index: 2;
    float: left;
}

.dot-icon{
    position: absolute;
    width: 2.55vw;
    height: 2.55vw;
    color: var(--same-color);
    margin-left: 1.55vw;
}
.dot-icon:focus{
    background-color: var(--color-fourth);
}
.toggleWrapper {
    position: absolute;
    top: 47.65625vw;
    left: 4.6875vw;
    overflow: hidden;
    padding: 0 10.4166666vw;
    transform: translate3d(-50%, -50%, 0);
}

.toggleWrapper input {
    position: absolute;
    left: -99em;
}
  
.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 4.688vw;
    height: 2.6041666vw;
    background-color: #83D8FF;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0.15625vw;
    width: 2.29166666vw;
    height: 2.29166666vw;
    background-color: #FFCF96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}

.toggle__handler .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}

.toggle__handler .crater--1 {
    top: 0.9375vw;
    left: 0.5208333333vw;
    width: 0.208333333vw;
    height: 0.208333333vw;
}

.toggle__handler .crater--2 {
    top: 1.458333333vw;
    left:1.1458333333vw;
    width: 0.3125vw;
    height: 0.3125vw;
}

.toggle__handler .crater--3 {
    top: 0.520833333333vw;
    left: 1.30208333333vw;
    width: 0.41666666666vw;
    height: 0.41666666666vw;
}
  
.star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
}
  
.star--1 {
    top: 0.520833333vw;
    left: 1.82291666666vw;
    z-index: 0;
    width: 1.5625vw;
    height: 0.15625vw;
}
  
.star--2 {
    top: 0.9375vw;
    left: 1.4583333333vw;
    z-index: 1;
    width: 1.5625vw;
    height: 0.15625vw;
}
  
.star--3 {
    top: 1.40625vw;
    left: 2.0833333333333vw;
    z-index: 0;
    width: 1.5625vw;
    height: 0.15625vw;
}
  
.star--4 {
    top: 0.83333333vw;
    left: 0.5729166666vw;
    z-index: 0;
    width: 0.104166666666vw;
    height: 0.104166666666vw;
    transform: translate3d(0.15625vw, 0, 0);
}
  
.star--5 {
    top: 1.66666666667vw;
    left: 0.88541666666vw;
    z-index: 0;
    width: 0.15625vw;
    height: 0.15625vw;
    transform: translate3d(0.15625vw, 0, 0);
}
  
.star--6 {
    top: 1.875vw;
    left: 1.4583333333vw;
    z-index: 0;
    width: 0.104166666666vw;
    height: 0.104166666666vw;
    transform: translate3d(0.15625vw, 0, 0);
}
  
input:checked + .toggle {
    background-color: #749DD6;
}

input:checked + .toggle:before {
    color: #749ED7;
}

input:checked + .toggle:after {
    color: #ffffff;
}

input:checked + .toggle .toggle__handler {
    background-color: #FFE5B5;
    transform: translate3d(2.08333333333vw, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .nav-area{
        width: 100vw;
        height: 20.18229166666667vw;
    }
    .hover-me{
        display: inline-block;
    }
    .hover-me:hover .nav-content{
        opacity: 0;
    }
    .nav-content{
        display: none;
    }
    .dot-handler{
        position: relative;
        width: 10vw;
        height: 10vw;
        background-color: var(--color-third);
        list-style-type: none;
        padding: 3.13vw 3.13vw 3.13vw 0;
        margin: 1.5vw 0 0 5vw;
        border-radius: 100px;
        z-index: 2;
        top: 11.45833333333333vw;
    }
    .dot-icon{
        position: absolute;
        width: 4vw;
        height: 4vw;
        color: var(--font-color);
        margin-left: 3vw;
    }
    .toggleWrapper {
        position: absolute;
        top: 10.09114583333333vw;
        left: 87vw;
        overflow: hidden;
        padding: 0 20.8333333vw;
        transform: translate3d(-50%, -50%, 0);
    }

    .toggleWrapper input {
        position: absolute;
        left: -99em;
    }
    
    .toggle {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 9.375vw;
        height: 5.2083333333vw;
        background-color: #83D8FF;
        border-radius: 84px;
        transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .toggle__handler {
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 0.3125vw;
        width: 4.583333333vw;
        height: 4.58333333vw;
        background-color: #FFCF96;
        border-radius: 50px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: rotate(-45deg);
    }

    .toggle__handler .crater {
        position: absolute;
        background-color: #E8CDA5;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        border-radius: 100%;
    }

    .toggle__handler .crater--1 {
        top: 1.875vw;
        left: 1.0416666666vw;
        width: 0.4166666666vw;
        height: 0.4166666666vw;
    }

    .toggle__handler .crater--2 {
        top: 2.916666666vw;
        left: 2.2916666666vw;
        width: 0.625vw;
        height: 0.625vw;
    }

    .toggle__handler .crater--3 {
        top: 1.0416666666vw;
        left: 2.60416666666vw;
        width: 0.833333333vw;
        height: 0.833333333vw;
    }
    
    .star {
        position: absolute;
        background-color: #ffffff;
        transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        border-radius: 50%;
    }
    
    .star--1 {
        top: 1.0416666666vw;
        left: 3.64583333333vw;
        z-index: 0;
        width: 2.6041666vw;
        height: 0.2604166vw;
    }
    
    .star--2 {
        top: 1.875vw;
        left: 2.9166666666vw;
        z-index: 1;
        width: 2.6041666vw;
        height: 0.2604166vw;
    }
    
    .star--3 {
        top: 2.8125vw;
        left: 4.1666666666vw;
        z-index: 0;
        width: 2.6041666vw;
        height: 0.2604166vw;
    }
    
    .star--4 {
        top: 1.666666666vw;
        left: 1.1458333333vw;
        z-index: 0;
        width: 0.20833333vw;
        height: 0.20833333vw;
        transform: translate3d(0.3125vw, 0, 0);
    }
    
    .star--5 {
        top: 3.3333333333vw;
        left: 1.7708333333vw;
        z-index: 0;
        width: 0.3125vw;
        height: 0.3125vw;
        transform: translate3d(0.3125vw, 0, 0);
    }
    
    .star--6 {
        top: 3.75vw;
        left: 2.916666666vw;
        z-index: 0;
        width: 0.20833333vw;
        height: 0.20833333vw;
        transform: translate3d(0.3125vw, 0, 0);
    }
    
    input:checked + .toggle {
        background-color: #749DD6;
    }

    input:checked + .toggle:before {
        color: #749ED7;
    }

    input:checked + .toggle:after {
        color: #ffffff;
    }

    input:checked + .toggle .toggle__handler {
        background-color: #FFE5B5;
        transform: translate3d(4.166666666vw, 0, 0) rotate(0);
    }

    input:checked + .toggle .toggle__handler .crater {
        opacity: 1;
    }
    .home-section{
        font-family: 'Prompt', sans-serif;
        color: var(--font-color);
        margin-top: 20.18229166666667vw;
        padding: 10vh 5vh 0 5vh;
    }
    .floating-contact{
        text-align: right;
        margin-top: 21.68229166666667vw;
        width: 100%;
        position: fixed;
    }
    .icon{
        text-decoration: none;
    }
    .contact-icon-light{
        font-size: 3vh;
        margin: 1.5vw 1.5vw 0 1.5vw;
        text-decoration: none;
        color: #1B1717;
    }
    .contact-icon-dark{
        font-size: 2.5vh;
        margin: 1.5vw 1.5vw 0 1.5vw;
        text-decoration: none;
        color: #ED8D8D;
    }
    .contact-icon-light:hover{
        color: #630000;
    }
    .contact-icon-dark:hover{
        color: #8D6262;
    }
    .wrap-icon{
        list-style-type: none;
    }

    .wrap-home-content{
        margin-bottom: 16.66666666666667vw;
        padding: 10.41666666666667vh 0 0 0;
    }
    .home-content{
        font-size: 1.75vh;
    }
    .home-sub{
        font-size: 2.25vh;
    }
    .home-title{
        font-size: 3vh;
    }
    .wave {
        font-size: 8.333333333333333vh;
        animation-name: wave-animation;  
        animation-duration: 2.5s;       
        animation-iteration-count: infinite;  
        transform-origin: 70% 70%; 
        display: inline-block;
    }
}