.wrap-nav{
    max-height: 100%;
    height: 100vh;
    position: fixed;
    width: 15vw;
}

.nav-area{
    position: absolute;
    width: 10vw;
    height: 100vh;
    background-color: #1b1717;
}

ul{
    position: absolute;
}

.nav-content{
    color: #EEEBDD;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1.5rem 1.5rem 1.5rem 7.5rem;
    background-color: #810000;
    border-radius: 100px;
    margin: 3rem 0 3rem 7.5rem;
    list-style: none;
}
.dot-handler{
    position: absolute;
    height: 6.313rem;
    width: 6.313rem;
    background-color: #630000;
    list-style-type: none;
    padding: 1.5rem 1.5rem 1.5rem 0;
    margin: 0 0 0 7.5rem;
    border-radius: 100px;
    z-index: 2;
    float: left;
}

.dot-icon{
    position: absolute;
    width: 3rem;
    height: 3rem;
    color: #EEEBDD;
    margin-left: 1.6rem;
}